*.iml
.idea/
target/
.DS_Store
dependency-reduced-pom.xml
**/__pycache__
*.swp
**/spacy-ner/model

# ignore local docker-compose set-up:
/backup*.sh
/docker-compose*.env
/docker-compose*.yml
/restore*.sh
/start*.sh
/stop*.sh
